In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
data=pd.read_csv("/content/Salary_dataset.csv")
print(data.head(4))
# print(data.iloc[2,2])#single element
# print(data.iloc[2])#entire row
# print(data.iloc[:,2])#entire column
# print(data.iloc[0:2,0:2])#excluding end index
# print(data.iloc[:,:])#all rows and all column

x_data=data.iloc[:,:-1]
y_data=data.iloc[:,-1]
# print(y_data)
# print(x_data)
x_train,x_test,y_train,y_test=train_test_split(x_data,y_data,test_size=0.25)


data.shape

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0

(30, 3)

In [15]:
x_test.shape

(8, 2)

In [18]:
x_train.shape

(22, 2)

In [14]:
print(y_test)
print(x_train)

18    81364.0
12    56958.0
5     56643.0
7     54446.0
1     46206.0
14    61112.0
16    66030.0
4     39892.0
Name: Salary, dtype: float64
    Unnamed: 0  YearsExperience
9            9              3.8
15          15              5.0
11          11              4.1
20          20              6.9
25          25              9.1
19          19              6.1
26          26              9.6
27          27              9.7
3            3              2.1
13          13              4.2
28          28             10.4
24          24              8.8
29          29             10.6
8            8              3.3
10          10              4.0
2            2              1.6
6            6              3.1
23          23              8.3
0            0              1.2
17          17              5.4
21          21              7.2
22          22              8.0